.hero-container {
  padding: 20px 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
  justify-items: center;
  align-items: center;
}

.hero-texts {
  display: grid;
  padding: 0 0 0 20px;
  width: 100%;
}

.title--second, .title--second--light {
  font-size: 1.7rem;
}

.title {
  display: flex;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 5px;

  align-items: first baseline;
}

.title--light, .title--second--light {
  color: #333;
}

.title .title--name {
  display: inline-block;
  font-family: var(--font-1);
  letter-spacing: -1px;
  font-size: 3rem;
  color: #ffbd59;
  font-weight: 500;
  width: 13ch;
  white-space: nowrap;

  border-right: 4px solid;
  animation: typing 2s steps(14) backwards, blink .5s infinite step-start alternate backwards;
  overflow: hidden;
}

.hero-figure {
  width: 100%;
}

.hero-cta {
  display: block;
  width: 150px;
  text-align: center;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #ffbd59;
  border: 2px solid #ffbd59;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;

  justify-self: start;
}

.hero-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 1024px) {

  .hero-container {
    background-image: url('/assets/icons/hero.svg');
    backdrop-filter: invert(100%);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
  }
  .hero-container--light {
    backdrop-filter: unset;
  }
  .hero-texts {
    color: #6c63FF;
  }
  .title {
    justify-content: start;
  }
  .hero-figure {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding: 20px 20px;
  }
  .hero-texts {
    padding: 0;
  }
  .title {
    font-size: 2rem;
  }
  .title .title--name {
    font-size: 2.5rem;
  }
  .title--second {
    font-size: 1.4rem;
  }
}

@media (max-width: 450px) {
  .hero-container {
    padding: 20px 10px;
  }
  .hero-texts {
    padding: 0;
  }
  .title {
    font-size: 1.8rem;
  }
  .title .title--name {
    font-size: 2rem;
    border-right: 2px solid;
  }
  .title--second {
    font-size: 1.2rem;
  }
  .hero-cta {
    font-size: 1rem;
  }
}