:root {

  /* Font & tipography */
  /* .5rem = 8px | 1rem = 16px */
  --font-1: 'Poppins', sans-serif;
  --font-2: 'Roboto', monospace;

  /* font wight */
  --font-medium: 400;
  --font-semi-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-2);
  color: white;
  line-height: 1.7;
}
/* img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
} */
ul {
  list-style: none;
}
a {
  color: var(--color-white);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.App {
  background-color: #34353A;
  display: grid;
}

.App-light {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
}